.details-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.detail-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-card:hover {
  transform: translateY(-5px);
}

.detail-card h2 {
  font-size: 2rem;
  color: #cb642a;
  margin-right: 10px; /* Space between number and text */
}

.detail-card p {
  font-size: 1rem;
  color: #333;
  margin: 0; /* Remove default margin */
}
